# Directories #
*/target/**

# Classes #
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.project
.settings
.classpath

# IntelliJ #
.iml

# NetBeans #
nb-configuration.xml

/code/monitor-grid-domain/target/
/code/monitor-grid-server/target/
/code/monitor-grid-client/target/